<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855012310384-ippf0gu0anfubdq3be28rjtag3j4a3a2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855012310384-ippf0gu0anfubdq3be28rjtag3j4a3a2</string>
	<key>API_KEY</key>
	<string>AIzaSyADbGkg2lSzDdpJ5Km4h_acMDkuY0a_hLM</string>
	<key>GCM_SENDER_ID</key>
	<string>855012310384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soo.Notice</string>
	<key>PROJECT_ID</key>
	<string>notice-ee9d2</string>
	<key>STORAGE_BUCKET</key>
	<string>notice-ee9d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855012310384:ios:02923bd511da553240a3b5</string>
</dict>
</plist>