<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84306238707-agakt7v1qsravo4slh55qle5cl95kklm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84306238707-agakt7v1qsravo4slh55qle5cl95kklm</string>
	<key>API_KEY</key>
	<string>AIzaSyApe0h12QlfyyfBjME2PKr26TPq50BvvCo</string>
	<key>GCM_SENDER_ID</key>
	<string>84306238707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soo.SpotifyLoginSampleApp</string>
	<key>PROJECT_ID</key>
	<string>login-sample-e9cce</string>
	<key>STORAGE_BUCKET</key>
	<string>login-sample-e9cce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84306238707:ios:e5d6b58bcd941d6905eb86</string>
</dict>
</plist>